<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SD4Version</key>
	<string>7.0.4</string>
	<key>SD5ConversionOffered</key>
	<false/>
	<key>SDAddUsedLibrariesOnExport</key>
	<integer>0</integer>
	<key>SDAutoIncBuildNumber</key>
	<false/>
	<key>SDBreakOnExceptions</key>
	<false/>
	<key>SDBreakpointsEnabled</key>
	<true/>
	<key>SDBundleVersion</key>
	<string>2.0</string>
	<key>SDCocoaTermsInProperties</key>
	<true/>
	<key>SDCodesignIdentity</key>
	<string>Mac Developer: elitmadsen@gmail.com (VRBLFDJW42)</string>
	<key>SDCodesignOnlyOnExport</key>
	<false/>
	<key>SDFolds</key>
	<string>YnBsaXN0MDDUAQIDBAUGFBVYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0
b3ASAAGGoKMHCA1VJG51bGzSCQoLDFpOUy5vYmplY3RzViRjbGFzc6CAAtIODxAR
WiRjbGFzc25hbWVYJGNsYXNzZXNeTlNNdXRhYmxlQXJyYXmjEBITV05TQXJyYXlY
TlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRFhdUcm9vdIABCBEaIy0yNztBRlFY
WVtga3SDh4+Yqq2yAAAAAAAAAQEAAAAAAAAAGAAAAAAAAAAAAAAAAAAAALQ=</string>
	<key>SDHideCodeFolding</key>
	<false/>
	<key>SDPersistentGlobals</key>
	<false/>
	<key>SDWindowState</key>
	<dict>
		<key>eventLogWindow</key>
		<dict/>
		<key>resultWindow</key>
		<dict/>
		<key>traceDelay</key>
		<real>0.80000001192092896</real>
		<key>viewControllers</key>
		<dict>
			<key>CBA3AF16-5FE6-4CC1-A395-56BE2C13FD37-6857-00066F12714E9433</key>
			<dict>
				<key>debuggerViewState</key>
				<dict>
					<key>expressionsState</key>
					<dict>
						<key>dividerPos</key>
						<real>150</real>
						<key>scope2.changedItems</key>
						<true/>
						<key>scope2.emptyElements</key>
						<false/>
						<key>scope2.filledElements</key>
						<true/>
						<key>scope2.props</key>
						<true/>
						<key>scope2.unchangedItems</key>
						<true/>
						<key>showScopeBar</key>
						<false/>
					</dict>
					<key>heights4</key>
					<dict>
						<key>positions</key>
						<dict>
							<key>3</key>
							<array>
								<integer>375</integer>
								<integer>478</integer>
								<integer>188</integer>
							</array>
							<key>5</key>
							<array>
								<integer>374</integer>
								<integer>151</integer>
								<integer>474</integer>
								<integer>121</integer>
								<integer>188</integer>
							</array>
						</dict>
					</dict>
					<key>resultState</key>
					<dict>
						<key>explorerState</key>
						<dict>
							<key>dividerPos</key>
							<real>150</real>
							<key>scope2.changedItems</key>
							<true/>
							<key>scope2.emptyElements</key>
							<false/>
							<key>scope2.filledElements</key>
							<true/>
							<key>scope2.props</key>
							<true/>
							<key>scope2.unchangedItems</key>
							<true/>
							<key>showScopeBar</key>
							<true/>
						</dict>
						<key>modes</key>
						<array>
							<string>mode.best</string>
						</array>
						<key>positions2</key>
						<dict>
							<key>positions</key>
							<dict/>
						</dict>
						<key>prettyPrint</key>
						<false/>
						<key>textState</key>
						<dict>
							<key>text</key>
							<dict>
								<key>LNSSelection</key>
								<array>
									<dict>
										<key>length</key>
										<integer>0</integer>
										<key>location</key>
										<integer>3</integer>
									</dict>
								</array>
								<key>LNSTextViewShowInvisibles</key>
								<false/>
								<key>LNSTextViewShowSpaces</key>
								<false/>
								<key>LNSTextViewShowTabStops</key>
								<false/>
								<key>LNSTextViewWrapLines</key>
								<true/>
								<key>LNSVisibleRect</key>
								<string>{{0, 0}, {424, 344}}</string>
							</dict>
						</dict>
					</dict>
					<key>stackVisible</key>
					<true/>
					<key>variablesState</key>
					<dict>
						<key>dividerPos</key>
						<real>150</real>
						<key>scope2.changedItems</key>
						<true/>
						<key>scope2.emptyElements</key>
						<false/>
						<key>scope2.filledElements</key>
						<true/>
						<key>scope2.props</key>
						<true/>
						<key>scope2.unchangedItems</key>
						<true/>
						<key>showScopeBar</key>
						<false/>
					</dict>
				</dict>
				<key>eventLogHeight</key>
				<real>118</real>
				<key>eventLogViewState</key>
				<dict>
					<key>format</key>
					<string>EventLogScopeBar_Source</string>
					<key>resultState</key>
					<dict>
						<key>modes</key>
						<array>
							<string>mode.best</string>
						</array>
						<key>positions2</key>
						<dict/>
						<key>prettyPrint</key>
						<false/>
					</dict>
					<key>resultViewerWidth</key>
					<real>410</real>
					<key>scopeVisible</key>
					<true/>
					<key>showResultViewer</key>
					<false/>
				</dict>
				<key>inspectorsViewState</key>
				<dict>
					<key>applications</key>
					<dict>
						<key>dividerPos2</key>
						<real>144</real>
						<key>searchFlags</key>
						<integer>167784446</integer>
					</dict>
					<key>clippings</key>
					<dict/>
					<key>heights3</key>
					<dict>
						<key>positions</key>
						<dict>
							<key>3</key>
							<array>
								<integer>320</integer>
								<integer>146</integer>
								<integer>435</integer>
							</array>
						</dict>
					</dict>
					<key>tellContext</key>
					<dict>
						<key>explorer</key>
						<dict>
							<key>dividerPos</key>
							<real>189</real>
							<key>scope2.changedItems</key>
							<true/>
							<key>scope2.emptyElements</key>
							<false/>
							<key>scope2.filledElements</key>
							<true/>
							<key>scope2.props</key>
							<true/>
							<key>scope2.unchangedItems</key>
							<true/>
							<key>showScopeBar</key>
							<true/>
						</dict>
					</dict>
				</dict>
				<key>mainSplitPosition</key>
				<real>440</real>
				<key>modeIdentifier</key>
				<string>tab.debug</string>
				<key>resourcesViewState</key>
				<dict>
					<key>heights2</key>
					<dict>
						<key>positions</key>
						<dict>
							<key>2</key>
							<array>
								<integer>253</integer>
								<integer>613</integer>
							</array>
						</dict>
					</dict>
					<key>resources</key>
					<dict>
						<key>expanded</key>
						<array/>
						<key>selection</key>
						<array/>
					</dict>
				</dict>
				<key>scriptViewState</key>
				<dict>
					<key>editorState</key>
					<dict>
						<key>LNSSelection</key>
						<array>
							<dict>
								<key>length</key>
								<integer>0</integer>
								<key>location</key>
								<integer>676</integer>
							</dict>
						</array>
						<key>LNSTextViewShowInvisibles</key>
						<false/>
						<key>LNSTextViewShowSpaces</key>
						<false/>
						<key>LNSTextViewShowTabStops</key>
						<false/>
						<key>LNSTextViewWrapLines</key>
						<true/>
						<key>LNSVisibleRect</key>
						<string>{{0, 26}, {2060, 1211}}</string>
						<key>ShowLineNumbers</key>
						<false/>
						<key>showCodeCoverage</key>
						<true/>
					</dict>
					<key>instanceID</key>
					<string>E2C01759-994C-4AE7-80F2-8C073B7B7331-6857-00066F1283820F13</string>
					<key>resultBarVisible</key>
					<false/>
					<key>showProgressBar</key>
					<true/>
				</dict>
				<key>showEventLog</key>
				<true/>
				<key>tabHeights</key>
				<dict>
					<key>tab.bps</key>
					<real>439</real>
					<key>tab.debug</key>
					<real>439</real>
					<key>tab.rsrcs</key>
					<real>295</real>
				</dict>
				<key>tabsHidden</key>
				<false/>
				<key>windowControllerID</key>
				<string>CBA3AF16-5FE6-4CC1-A395-56BE2C13FD37-6857-00066F12714E9433</string>
				<key>windowFrame</key>
				<string>-2560 293 1466 1124 -2560 0 2560 1440 </string>
			</dict>
		</dict>
		<key>windowControllers</key>
		<array>
			<dict>
				<key>controllerClass</key>
				<string>ScriptWindowController</string>
				<key>controllerID</key>
				<string>CBA3AF16-5FE6-4CC1-A395-56BE2C13FD37-6857-00066F12714E9433</string>
				<key>controllerState</key>
				<dict>
					<key>miniaturized</key>
					<false/>
					<key>windowFrame</key>
					<string>-2560 293 1466 1124 -2560 0 2560 1440 </string>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
